vaadin-combo-box.no-arrow::part(toggle-button) {
    display: none;
}

html {
      --lumo-shade-5pct: rgba(33, 33, 33, 0.05);
      --lumo-shade-10pct: rgba(33, 33, 33, 0.1);
      --lumo-shade-20pct: rgba(33, 33, 33, 0.2);
      --lumo-shade-30pct: rgba(33, 33, 33, 0.3);
      --lumo-shade-40pct: rgba(33, 33, 33, 0.4);
      --lumo-shade-50pct: rgba(33, 33, 33, 0.5);
      --lumo-shade-60pct: rgba(33, 33, 33, 0.6);
      --lumo-shade-70pct: rgba(33, 33, 33, 0.7);
      --lumo-shade-80pct: rgba(33, 33, 33, 0.8);
      --lumo-shade-90pct: rgba(33, 33, 33, 0.9);
      --lumo-primary-color-50pct: rgba(235, 89, 5, 0.5);
      --lumo-primary-color-10pct: rgba(235, 89, 5, 0.1);
      --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
      --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
      --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
      --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
      --lumo-shade: hsl(0, 0%, 13%);
      --lumo-primary-color: hsl(22, 96%, 47%);
      --lumo-primary-text-color: hsl(220, 5%, 11%);
      --lumo-error-color: hsl(0, 81%, 50%);
      --lumo-error-text-color: hsl(0, 86%, 45%);
      --lumo-success-color: hsl(159, 76%, 57%);
      --lumo-success-contrast-color: hsl(159, 29%, 10%);
      --lumo-success-text-color: hsl(159, 61%, 40%);
      --lumo-font-family: 'Arial';
}

.icon_link {
    display: flex; /* Ustawienie kontenera jako flex */
    align-items: center; /* Wyrównanie w pionie */
    justify-content: center; /* Wyrównanie w poziomie */
    gap: 5px; /* Opcjonalnie, dodaje odstęp między ikoną a tekstem */
}

login-form::part(form-title) {
      text-align: center; /* Wyśrodkowanie tekstu */
      font-size: 24px;    /* Zwiększenie rozmiaru czcionki */
      font-weight: bold;  /* Pogrubienie */
      color: #0077cc;     /* Zmiana koloru tekstu */
}

.large-font {
      font-size: 24px; /* Rozmiar czcionki */
      font-weight: bold; /* Opcjonalnie: pogrubienie */
      color: #333; /* Opcjonalnie: kolor tekstu */
}

/* Styl dla siatki galerii */
.gallery-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Tworzy kolumny, które automatycznie dopasowują się do szerokości */
      gap: 16px; /* Odstęp między obrazkami */
      margin: 16px;
      padding: 0;
}

/* Styl dla kontenerów obrazów */
.image-wrapper {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      background-color: #f0f0f0; /* Kolor tła dla obrazów */
}

.image-wrapper img {
      width: 100%;
      height: auto;
      object-fit: cover; /* Dopasowuje obraz do kontenera */
}

.custom-horizontal-layout {
      background-color: #ffffff; /* Opcjonalny kolor tła */
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); /* Dodaje cień */
      padding: 0px; /* Opcjonalny padding wewnętrzny */
      row-gap: 0px;
      border-radius: 8px; /* Opcjonalne zaokrąglenie rogów */
      align-items: center; /* Wyrównanie elementów w pionie */
      justify-content: center;
}


.footer-horizontal-layout {
      background-color: #70798c; /* Ciemne tło */
      color: white; /* Tekst biały */
      padding: 10px 20px; /* Odstępy */
      font-size: 0.9rem; /* Rozmiar tekstu */
}

.footer-vertical-layout a{
      align-items: center; /* Wyrównanie elementów w pionie */
      justify-content: center;
      color: #777373;
}

.cart-vertical-layout{
      align-items: center; /* Wyrównanie elementów w pionie */
      justify-content: center;
      width: 20%;
}

.left-vertical-layout{
      align-items: start; /* Wyrównanie elementów w pionie */
      justify-content: start;
      width: 25% !important;
      overflow: hidden;
      white-space: nowrap;
}

.left-cat-menu {
      row-gap: 0;
      align-items: start;
      border-radius: 8px;
      justify-content: start;
      border: 0.5px solid rgba(211, 209, 209, 0.58);
      padding: 0px;
      min-width: 10%;
}

.custom-text{
      padding-left: 15px;
      font-size: 15px;
      color: #444343;
}

.custom-text-bold{
      padding-left: 10px;
      color: #2d2d2d;
}

.custom-details {
      background-color: rgba(190, 189, 189, 0.15);
      /* Opcjonalny kolor tła */ /* Odstęp od lewego marginesu dla całego komponentu */
}

.carousel-item-left {
      width: 100% !important;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%; /* Można też użyć "center" */
      border-radius: 8px;
}

.carousel-item {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%; /* Można też użyć "center" */
      border-radius: 8px;
}

.order-vertical-layout{
      padding: 0px; /* Opcjonalny padding wewnętrzny */
      row-gap: 0px;
      border-radius: 8px; /* Opcjonalne zaokrąglenie rogów */
      align-items: center; /* Wyrównanie elementów w pionie */
      justify-content: start;
      width: 20%;
}

.custom-item-style {
      width: 20%;
}

.cartitem-horizontal-layout {
      font-size: 0.9rem; /* Rozmiar tekstu */
      width: 100%;
      height: 100%;
      align-items: center; /* Wyrównanie elementów w pionie */
      justify-content: space-between;
      display: flex;
      border: 1px solid rgba(211, 209, 209, 0.58);
      border-radius: 8px;
}

.cartitem-multiselect {
      width: auto; /* Automatyczna szerokość zależna od zawartości */
      max-width: 80%; /* Opcjonalnie ograniczenie maksymalnej szerokości */
      height: auto; /* Automatyczna wysokość zależna od liczby elementów */
      max-height: 300px; /* Opcjonalnie ograniczenie maksymalnej wysokości */
      overflow: auto; /* Dodanie przewijania, jeśli zawartość jest większa */
      display: block;
}

.cartitem-quantity {
      flex: 0 0 25px; /* Stała szerokość pola ilości */
      width: 10%;
}

.cartitem-image {
      flex: 0 0 50px; /* Stała szerokość obrazka */
      height: 100px; /* Stała wysokość obrazka */
      object-fit: cover; /* Dopasowanie obrazka do rozmiaru */
      border-radius: 8px;
}

.cart-grid {
      width: auto;
      display: inline-block; /* Dostosowanie szerokości gridu do zawartości */
      max-width: 100%;
      box-sizing: border-box;/* Opcjonalnie, aby nie wyjść poza rodzica */
      align-items: center; /* Wyrównanie elementów w pionie */
      justify-content: space-between;
      text-align: center;
}

.cart-grid::part(header) {
      font-weight: bold;
      white-space: unset;
      padding: 0;
      gap: 0;
}

.my-grid-container {
      width: fit-content; /* Dopasowuje szerokość do zawartości */
      margin: auto; /* Centruje element */
}

/* Styl dla itemów w SubMenu */
.unique-menubar::part(overlay) {
      padding: 0; /* Usuń padding z całego SubMenu */
      margin: 0; /* Usuń marginesy */
}

.unique-menubar::part(items) {
      padding: 0; /* Usuń padding z elementów menu */
      margin: 0; /* Usuń marginesy */
      user-select: none; /* Wyłącz zaznaczanie tekstu */
}

.unique-menubar::part(menu-item):hover,
.unique-menubar::part(menu-item):focus,
.unique-menubar::part(menu-item)::selection {
      color: transparent; /* Usuń wskaźnik zaznaczenia lub hover */
}

.unique-menubar[menu-item-checked]::part(checkmark){
      color: transparent;
      width: 0;
      display: none;
}

.unique-menubar::part(checkmark)::before {
      display: none;
}

.unique-menubar {
      padding-left: var(--lumo-space-xs);
}

vaadin-menu-bar-item::part(checkmark)::before {
      display: none;
}

/* some indent for the content */
vaadin-menu-bar-item {
      padding-left: var(--lumo-space-s);
}