vaadin-combo-box.no-arrow::part(toggle-button) {
    display: none;
}

html {
      --lumo-shade-5pct: rgba(33, 33, 33, 0.05);
      --lumo-shade-10pct: rgba(33, 33, 33, 0.1);
      --lumo-shade-20pct: rgba(33, 33, 33, 0.2);
      --lumo-shade-30pct: rgba(33, 33, 33, 0.3);
      --lumo-shade-40pct: rgba(33, 33, 33, 0.4);
      --lumo-shade-50pct: rgba(33, 33, 33, 0.5);
      --lumo-shade-60pct: rgba(33, 33, 33, 0.6);
      --lumo-shade-70pct: rgba(33, 33, 33, 0.7);
      --lumo-shade-80pct: rgba(33, 33, 33, 0.8);
      --lumo-shade-90pct: rgba(33, 33, 33, 0.9);
      --lumo-primary-color-50pct: rgba(235, 89, 5, 0.5);
      --lumo-primary-color-10pct: rgba(235, 89, 5, 0.1);
      --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
      --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
      --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
      --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
      --lumo-shade: hsl(0, 0%, 13%);
      --lumo-primary-color: hsl(22, 96%, 47%);
      --lumo-primary-text-color: hsl(220, 5%, 11%);
      --lumo-error-color: hsl(0, 81%, 50%);
      --lumo-error-text-color: hsl(0, 86%, 45%);
      --lumo-success-color: hsl(159, 76%, 57%);
      --lumo-success-contrast-color: hsl(159, 29%, 10%);
      --lumo-success-text-color: hsl(159, 61%, 40%);
      --lumo-font-family: 'Arial';
}

.icon_link {
    display: flex; /* Ustawienie kontenera jako flex */
    align-items: center; /* Wyrównanie w pionie */
    justify-content: center; /* Wyrównanie w poziomie */
    gap: 5px; /* Opcjonalnie, dodaje odstęp między ikoną a tekstem */
}

login-form::part(form-title) {
      text-align: center; /* Wyśrodkowanie tekstu */
      font-size: 24px;    /* Zwiększenie rozmiaru czcionki */
      font-weight: bold;  /* Pogrubienie */
      color: #0077cc;     /* Zmiana koloru tekstu */
}

.large-font {
      font-size: 24px; /* Rozmiar czcionki */
      font-weight: bold; /* Opcjonalnie: pogrubienie */
      color: #333; /* Opcjonalnie: kolor tekstu */
}

/* Styl dla siatki galerii */
.gallery-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Tworzy kolumny, które automatycznie dopasowują się do szerokości */
      gap: 16px; /* Odstęp między obrazkami */
      margin: 16px;
      padding: 0;
}

/* Styl dla kontenerów obrazów */
.image-wrapper {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      background-color: #f0f0f0; /* Kolor tła dla obrazów */
}

.image-wrapper img {
      width: 100%;
      height: auto;
      object-fit: cover; /* Dopasowuje obraz do kontenera */
}

.custom-horizontal-layout {
      background-color: #ffffff; /* Opcjonalny kolor tła */
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); /* Dodaje cień */
      padding: 0px; /* Opcjonalny padding wewnętrzny */
      row-gap: 0px;
      border-radius: 8px; /* Opcjonalne zaokrąglenie rogów */
      align-items: center; /* Wyrównanie elementów w pionie */
      justify-content: center;
}

.left-cat-menu {
      row-gap: 0;
      align-items: start;
      border-radius: 8px;
      justify-content: center;
      border: 0.5px solid rgba(211, 209, 209, 0.58);
      padding: 0px;
      width: 10%;
      height: 100%;
      min-width: 10%;
}

.custom-text{
      padding-left: 15px;
      font-size: 15px;
      color: #444343;
}

.custom-text-bold{
      padding-left: 10px;
      color: #2d2d2d;
}

.custom-details {
      background-color: rgba(190, 189, 189, 0.15);
      /* Opcjonalny kolor tła */ /* Odstęp od lewego marginesu dla całego komponentu */
}

.carousel-item {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%; /* Można też użyć "center" */
      border-radius: 8px;
}
